{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Presence list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Eleve</th>
                <th>Planning</th>
                <th>Dateannulation</th>
                <th>Motifannulation</th>
                <th>Datereport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('presence_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idpersonne }}</td>
               <td>{{ entity.idplanning.id }}</td>
                <td>{% if entity.dateannulation %}{{ entity.dateannulation|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.motifannulation }}</td>
                <td>{% if entity.datereport %}{{ entity.datereport|date('d/m/Y') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('presence_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('presence_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('presence_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
