{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Presence</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
             <tr>
                <th>Eleve</th>
                <td>{{ entity.idpersonne }}</td>
            </tr>
             <tr>
                <th>Planning</th>
                <td>{{ entity.idplanning.id }}</td>
            </tr>
            <tr>
                <th>Dateannulation</th>
                <td>{% if entity.dateannulation %}{{ entity.dateannulation|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motifannulation</th>
                <td>{{ entity.motifannulation }}</td>
            </tr>
            <tr>
                <th>Datereport</th>
                <td>{% if entity.datereport %}{{ entity.datereport|date('d/m/Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('presence') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('presence_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
