{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accessoire</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomaccessoire</th>
                <td>{{ entity.nomaccessoire }}</td>
            </tr>
            <tr>
                <th>Eleve</th>
                <td>{{ entity.idPersonne }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ entity.idTarif }}</td>
            </tr>
            <tr>
                <th>Debutlocation</th>
                <td>{% if entity.debutlocation %}{{ entity.debutlocation|date('m/d/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finlocation</th>
                <td>{% if entity.finlocation %}{{ entity.finlocation|date('m/d/Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('accessoire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('accessoire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
