{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Planning list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                 <th>Cours</th>
                  <th>Salle</th>
                <th>Dateplanning</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('planning_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                 <td>{{ entity.idcours }}</td>
                  <td>{{ entity.idsalle }}</td>
                <td>{% if entity.dateplanning %}{{ entity.dateplanning|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('planning_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('planning_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('planning_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
