{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Planning</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cours</th>
                <td>{{ entity.idcours }}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ entity.idsalle }}</td>
            </tr>
            <tr>
                <th>Dateplanning</th>
                <td>{% if entity.dateplanning %}{{ entity.dateplanning|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('planning') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('planning_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
