{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>        
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nompersonne }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenompersonne }}</td>
            </tr>
            <tr>
                <th>Qualite</th>
                <td>{{ entity.typepersonne }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ entity.sexepersonne }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if entity.datenaissance %}{{ entity.datenaissance|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.mailpersonne }}</td>
            </tr>
            <tr>
                <th>Telephone Mobile</th>
                <td>{{ entity.telportable }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{% if entity.idadresse %}{{ entity.idadresse }}{% endif %}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentairepersonne }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
